In [1]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

### Lecture Datasets

In [2]:
data = pd.read_csv('../data/Movie.csv')
data

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1141834,735597,Circles,0.000,0,Released,2015-06-10,0,6,False,NaN,...,Circles,A story of tangled relationships. A couple on ...,0.600,/y7rm1xOISJlNpMo50uGyTEHx94Q.jpg,NaN,NaN,NaN,NaN,NaN,NaN
1141835,735598,Peppa Pig : Gérald La Girafe,0.000,0,Released,NaN,0,0,False,NaN,...,Peppa Pig : Gérald La Girafe,NaN,0.600,/iSWDarmDVBgAm95tnLa4n8oOy6k.jpg,NaN,NaN,NaN,NaN,NaN,NaN
1141836,735601,Não Partimos,0.000,0,Released,2019-01-01,0,5,False,NaN,...,Não Partimos,What is dying? What does happen when we move f...,0.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1141837,735602,Caminhos Esquecidos,0.000,0,Released,2019-01-01,0,5,False,NaN,...,Caminhos Esquecidos,How is the stream of consciousness of a person...,0.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1141838,1397245,Lobreguez,0.000,0,Released,NaN,0,7,False,NaN,...,Lobreguez,Paulo is a writer who isolates himself in his ...,0.000,NaN,NaN,NaN,NaN,NaN,Spanish,NaN

#### Visualisation des info

In [113]:
data.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords'],
      dtype='object')

In [3]:
# verification des valeurs manquants
data.isna().sum()

id                            0
title                        13
vote_average                  0
vote_count                    0
status                        0
release_date             189076
revenue                       0
runtime                       0
adult                         0
backdrop_path            839193
budget                        0
homepage                1021016
imdb_id                  537849
original_language             0
original_title               13
overview                 232607
popularity                    0
poster_path              361355
tagline                  981788
genres                   458445
production_companies     627167
production_countries     506928
spoken_languages         487547
keywords                 833106
dtype: int64

In [4]:
# suppression des ligne avec des valeur manquants
data.dropna(inplace=True)
data.isna().sum()

id                      0
title                   0
vote_average            0
vote_count              0
status                  0
release_date            0
revenue                 0
runtime                 0
adult                   0
backdrop_path           0
budget                  0
homepage                0
imdb_id                 0
original_language       0
original_title          0
overview                0
popularity              0
poster_path             0
tagline                 0
genres                  0
production_companies    0
production_countries    0
spoken_languages        0
keywords                0
dtype: int64

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9669 entries, 0 to 1141286
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    9669 non-null   int64
 1   title                 9669 non-null   object
 2   vote_average          9669 non-null   float64
 3   vote_count            9669 non-null   int64
 4   status                9669 non-null   object
 5   release_date          9669 non-null   object
 6   revenue               9669 non-null   int64
 7   runtime               9669 non-null   int64
 8   adult                 9669 non-null   bool
 9   backdrop_path         9669 non-null   object
 10  budget                9669 non-null   int64
 11  homepage              9669 non-null   object
 12  imdb_id               9669 non-null   object
 13  original_language     9669 non-null   object
 14  original_title        9669 non-null   object
 15  overview              9669 non-null   object
 16  popularity            9669 non-null   float64
 17  poster_path           9669 non-null   object
 18  tagline               9669 non-null   object
 19  genres                9669 non-null   object
 20  production_companies  9669 non-null   object
 21  production_countries  9669 non-null   object
 22  spoken_languages      9669 non-null   object
 23  keywords              9669 non-null   object
dtypes: bool(1), float64(2), int64(5), object(16)
memory usage: 1.8+ MB

### Feature Ingenering

In [5]:
# 1. Sélection des colonnes nécessaires
columns_to_keep = ['title', 'genres', 'production_countries', 'keywords', 'release_date']
data = data[columns_to_keep]

data

,title,genres,production_countries,keywords,release_date
0,Inception,"Action, Science Fiction, Adventure","United Kingdom, United States of America","rescue, mission, dream, airplane, paris, franc...",2010-07-15
1,Interstellar,"Adventure, Drama, Science Fiction","United Kingdom, United States of America","rescue, future, spacecraft, race against time,...",2014-11-05
2,The Dark Knight,"Drama, Action, Crime, Thriller","United Kingdom, United States of America","joker, sadism, chaos, secret identity, crime f...",2008-07-16
3,Avatar,"Action, Adventure, Fantasy, Science Fiction","United States of America, United Kingdom","future, society, culture clash, space travel, ...",2009-12-15
4,The Avengers,"Science Fiction, Action, Adventure",United States of America,"new york city, superhero, shield, based on com...",2012-04-25
...,...,...,...,...,...
1137468,Life After Death: Quantum Realms,Documentary,United States of America,"metaphysics, new age, religion, spirtuality",2017-01-01
1137702,The Float,"Drama, Thriller",United Kingdom,"darkness, breaking the fourth wall, family dra...",2019-05-21
1138365,Kilometer 147,Comedy,Israel,"israel, camel, desert",2018-01-18
1139122,Sanctuaries of Silence,Documentary,United States of America,"nature, noise pollution, silence, virtual real...",2018-08-20
1141286,Fall Out,"Science Fiction, Thriller",South Korea,"post-apocalyptic future, nuclear fallout",2020-07-11

In [6]:
# prendre que 3 termes de genres
data['genres'] = data['genres'].str.split(',').apply(lambda x: ', '.join(x[:3]) if isinstance(x, list) else '')

# prendre que 2 termes des mots clés
data['keywords'] = data['keywords'].str.split(',').apply(lambda x: ', '.join(x[:2]) if isinstance(x, list) else '')

data

/var/folders/37/km911zyj73bd2q0tbdm61snc0000gn/T/ipykernel_86449/899568470.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['genres'] = data['genres'].str.split(',').apply(lambda x: ', '.join(x[:3]) if isinstance(x, list) else '')
/var/folders/37/km911zyj73bd2q0tbdm61snc0000gn/T/ipykernel_86449/899568470.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['keywords'] = data['keywords'].str.split(',').apply(lambda x: ', '.join(x[:2]) if isinstance(x, list) else '')

,title,genres,production_countries,keywords,release_date
0,Inception,"Action, Science Fiction, Adventure","United Kingdom, United States of America","rescue, mission",2010-07-15
1,Interstellar,"Adventure, Drama, Science Fiction","United Kingdom, United States of America","rescue, future",2014-11-05
2,The Dark Knight,"Drama, Action, Crime","United Kingdom, United States of America","joker, sadism",2008-07-16
3,Avatar,"Action, Adventure, Fantasy","United States of America, United Kingdom","future, society",2009-12-15
4,The Avengers,"Science Fiction, Action, Adventure",United States of America,"new york city, superhero",2012-04-25
...,...,...,...,...,...
1137468,Life After Death: Quantum Realms,Documentary,United States of America,"metaphysics, new age",2017-01-01
1137702,The Float,"Drama, Thriller",United Kingdom,"darkness, breaking the fourth wall",2019-05-21
1138365,Kilometer 147,Comedy,Israel,"israel, camel",2018-01-18
1139122,Sanctuaries of Silence,Documentary,United States of America,"nature, noise pollution",2018-08-20
1141286,Fall Out,"Science Fiction, Thriller",South Korea,"post-apocalyptic future, nuclear fallout",2020-07-11

In [7]:
# Extraire l'année directement en utilisant str et split
data['release_year'] = data['release_date'].str.split('-').str[0]

# Supprimer la colonne 'release_date'
data.drop(columns=['release_date'], inplace=True)

data

/var/folders/37/km911zyj73bd2q0tbdm61snc0000gn/T/ipykernel_86449/4097885749.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['release_year'] = data['release_date'].str.split('-').str[0]
/var/folders/37/km911zyj73bd2q0tbdm61snc0000gn/T/ipykernel_86449/4097885749.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=['release_date'], inplace=True)

,title,genres,production_countries,keywords,release_year
0,Inception,"Action, Science Fiction, Adventure","United Kingdom, United States of America","rescue, mission",2010
1,Interstellar,"Adventure, Drama, Science Fiction","United Kingdom, United States of America","rescue, future",2014
2,The Dark Knight,"Drama, Action, Crime","United Kingdom, United States of America","joker, sadism",2008
3,Avatar,"Action, Adventure, Fantasy","United States of America, United Kingdom","future, society",2009
4,The Avengers,"Science Fiction, Action, Adventure",United States of America,"new york city, superhero",2012
...,...,...,...,...,...
1137468,Life After Death: Quantum Realms,Documentary,United States of America,"metaphysics, new age",2017
1137702,The Float,"Drama, Thriller",United Kingdom,"darkness, breaking the fourth wall",2019
1138365,Kilometer 147,Comedy,Israel,"israel, camel",2018
1139122,Sanctuaries of Silence,Documentary,United States of America,"nature, noise pollution",2018
1141286,Fall Out,"Science Fiction, Thriller",South Korea,"post-apocalyptic future, nuclear fallout",2020

####  Creation d'une colonne qui combine toutes les autres colonnes 'cat_features'

In [8]:
data['cat_features']=data[data.columns].apply(lambda x: ''.join(x), axis=1)

data.head()

/var/folders/37/km911zyj73bd2q0tbdm61snc0000gn/T/ipykernel_86449/3584269187.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['cat_features']=data[data.columns].apply(lambda x: ''.join(x), axis=1)

,title,genres,production_countries,keywords,release_year,cat_features
0,Inception,"Action, Science Fiction, Adventure","United Kingdom, United States of America","rescue, mission",2010,"InceptionAction, Science Fiction, AdventureU..."
1,Interstellar,"Adventure, Drama, Science Fiction","United Kingdom, United States of America","rescue, future",2014,"InterstellarAdventure, Drama, Science Fictio..."
2,The Dark Knight,"Drama, Action, Crime","United Kingdom, United States of America","joker, sadism",2008,"The Dark KnightDrama, Action, CrimeUnited Ki..."
3,Avatar,"Action, Adventure, Fantasy","United States of America, United Kingdom","future, society",2009,"AvatarAction, Adventure, FantasyUnited State..."
4,The Avengers,"Science Fiction, Action, Adventure",United States of America,"new york city, superhero",2012,"The AvengersScience Fiction, Action, Adventu..."

### vectorisation

In [9]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(stop_words='english', min_df=20)
word_matrix = vectorizer.fit_transform(data['cat_features'])
word_matrix.shape

(9669, 265)

### Calcul de cosinus de similaté

Le calcul de cosinus de similarité permet de....

In [10]:
from sklearn.metrics.pairwise import cosine_similarity

sim = cosine_similarity(word_matrix)

In [11]:
sim

array([[1.        , 0.71428571, 0.46291005, ..., 0.        , 0.37796447,
        0.21821789],
       [0.71428571, 1.        , 0.46291005, ..., 0.        , 0.37796447,
        0.        ],
       [0.46291005, 0.46291005, 1.        , ..., 0.        , 0.40824829,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.37796447, 0.37796447, 0.40824829, ..., 0.        , 1.        ,
        0.        ],
       [0.21821789, 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

### sauvegarde

In [23]:
np.save('../models/similarity_matrix.npy', sim)

Construction de la fonction pour le systeme de recommandation des films en question

### Fonction du systeme recommandation

In [12]:
def get_recom(titre, data, sim, count=10):
    """
    Obtenir des recommandations basées sur la similarité cosinus.
    
    Parameters:
    - titre : str, titre du film pour lequel des recommandations sont recherchées.
    - data : DataFrame, contenant au moins une colonne 'title'.
    - sim : matrice de similarité (numpy array ou DataFrame).
    - count : int, nombre de recommandations souhaitées (par défaut 10).
    
    Returns:
    - list : titres des films recommandés.
    """
    # Trouver l'indice correspondant au titre
    index = data[data['title'].str.lower() == titre.lower()].index
    
    # Vérifier si le titre existe
    if len(index) == 0:
        return []
    
    # Récupérer l'indice
    idx = index[0]
    
    # Vérifier si l'indice est dans les limites de la matrice
    if idx >= len(sim):
        return []
    
    # Obtenir les similarités de la ligne correspondante
    similarities = list(enumerate(sim[idx]))
    
    # Trier par score de similarité décroissant
    recommandations = sorted(similarities, key=lambda x: x[1], reverse=True)
    
    # Obtenir les meilleurs résultats, en excluant l'élément lui-même
    top_rec = recommandations[1:count + 1]
    
    # Générer la liste des titres
    titres = []
    for rec in top_rec:
        rec_idx = rec[0]  # Indice de la recommandation
        if rec_idx < len(data):  # Vérifier les limites
            titre_rec = data.iloc[rec_idx]['title']
            titres.append(titre_rec)
    
    return titres

In [16]:
# Exemple d'application
recommandations = get_recom(
    titre='the avengers',
    data=data,  # DataFrame contenant les informations sur les films
    sim=sim,    # Matrice de similarité cosinus
    count=9     # Obtenir les 5 meilleures recommandations
)

recommandations

['The Incredible Hulk',
 'Teenage Mutant Ninja Turtles',
 'Spider-Man: Across the Spider-Verse',
 'Godzilla',
 'Meet Dave',
 '21 Bridges',
 'After Earth',
 'The Intern',
 'Midnight Cowboy']